<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<configuration>
			<connectionStrings>
				<add name="" connectionString="Server=127.0.0.1;Database=benzinistasyonu;" providerName="System.Data.SqlClient" />
			</connectionStrings>
		</configuration>

	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>